[Unit]
Description=Sonos Giphy visuals
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-(/usr/bin/docker stop sonos-giphy-visuals) || true
ExecStartPre=-(/usr/bin/docker rm sonos-giphy-visuals) || true
ExecStartPre=/usr/bin/docker pull rikukissa/sonos-giphy-visuals
ExecStart=/usr/bin/docker run -p 3000:80 --name sonos-giphy-visuals --rm rikukissa/sonos-now-playing

[Install]
WantedBy=default.target